<footer id="main-footer" class="footer">
  <div class="container">
    <div class="row">
      <div class="col-6 col-sm-6 col-md-3">
        <ul class="navbar-nav">
          <%= render partial: 'shared/main_navigation_items' %>
        </ul>
      </div>
      <div class="col-6 col-sm-6 col-md-3">
        <ul class="navbar-nav">
          <%= render partial: 'shared/general_navigation_items' %>
        </ul>
      </div>
      <div class="col-12 col-sm-12 col-md-6">
        <%= render partial: 'shared/about' %>
      </div>
    </div>
  </div>
</footer>
