// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body.main {
  background: image-url('background.jpg') no-repeat 50% 50%;
  background-size: cover;
}

div.wrapper {
  width: 100%;
  max-width: 30rem;
  padding: 2rem;
  margin: 0 auto;
  text-align: center;
}

img.main-logo {
  width: 80%;
  height: auto;
  margin: 0 10%;
}

h1.title {
  color: #fff;
  text-align: center;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 1rem;
  margin-right: -1rem;
}

p.slogan {
  color: #ddd;
  text-align: center;
  font-size: 1.18rem;
}

div.wrapper .btn {
  width: 100%;
  margin: 0.5rem 0;
  font-size: 2rem;
}
div.wrapper .btn.btn-danger {
  width: 24rem;
}
