@-webkit-keyframes main-bg-slide {
  from { background-position: 0 0; }
  to { background-position: 200px 0; }
}
body.main.background_image {
  background: image-url('bg.jpg');
  padding-top: 0;
  animation: main-bg-slide 16s linear infinite;

  div.wrapper {
    padding-top: 8rem;
    min-height: 100vh;
  }

  footer.footer {
    display: none;
  }
}

body.main {
  header#main-navigation {
    border-bottom: 0 none;
  }

  div.wrapper {
    width: 100%;
    max-width: 30rem;
    padding: 2rem;
    margin: 0 auto;
    text-align: center;

    img.main-logo {
      max-width: 80%;
      width: 10rem;
      height: auto;
      margin: 0 10%;
    }

    h1.title {
      text-align: center;
      font-size: 4rem;
      text-transform: uppercase;
      letter-spacing: 1rem;
      margin-right: -1rem;
    }

    @media all and (max-width: 530px) {
      h1.title {
        font-size: 3rem;
      }
    }
    @media all and (max-width: 450px) {
      h1.title {
        font-size: 2rem;
      }
    }

    .btn {
      width: 100%;
      margin: 0.5rem 0;
      font-size: 2rem;
    }
    .btn.btn-danger {
      width: 24rem;
    }
    
    p {
      text-align: justify;
      text-align-last: center;
    }
  }

  

  

  
}
