span.domain-logo {
  border-radius: 16%;
  background-position: 50% 50%;
  background-repeat: none;
  background-size: cover;
  display: inline-block;
  width: 3rem;
  height: 3rem;
  overflow: hidden;
}
tr.hidden {
  display: none;
}
div.password-header {

  span {
    width: 5rem;
    height: 5rem;
  }
  div {
    height: 4rem;

    h2 {
      line-height: 3rem;
    }
    p {
      line-height: 1rem;
    }
  }
}

div.passwords {

  div.password {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 6px;
    position: relative;
    transition: border 500ms ease-in-out;

    a.show-password-link {
      position: absolute;
      display: inline-block;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      z-index: 1;
    }

    span.domain-logo {
      width: 4rem;
      height: 4rem;
    }
  }

  div.password:hover {
    border: 1px solid #4fade1;
  }
}
