span.domain-logo {
  border-radius: 16%;
  background-position: 50% 50%;
  background-repeat: none;
  background-size: cover;
  display: inline-block;
  width: 3rem;
  height: 3rem;
  overflow: hidden;
}
tr.hidden {
  display: none;
}
div.password-header {

  span {
    width: 5rem;
    height: 5rem;
  }
  div {
    height: 4rem;

    h2 {
      line-height: 3rem;
    }
    p {
      line-height: 1rem;
    }
  }
}
